.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link {
	padding: 10px 0;
}

.social-icon {
	fill: #fff;
	stroke: #fff;

	transition: fill 250ms linear, stroke 250ms linear;

	.social-link:hover &,
	.social-link:focus & {
		fill: var(--acent-second-color);
		stroke: var(--acent-second-color);
	}
}
