:root {
	--text-main-color: rgb(255, 255, 255);
	--text-second-color: rgb(255, 255, 255);

	--titel-main-color: rgb(255, 255, 255);
	--titel-second-color: rgb(31, 37, 45);

	--bg-main-color: rgb(12, 18, 24);
	--bg-second-color: rgb(16, 23, 31);

	--acent-main-color: rgb(130, 41, 164);
	--acent-second-color: rgb(209, 193, 43);
	--acent-third-color: rgb(109, 156, 92);
	--acent-four-color: rgb(255, 255, 255);
}
